  <div class="container main-container">
    <div class="row text-center">

      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="./assets/crossplat.jpg" height="164px"  alt="">
          <div class="card-body">
            <h4 class="card-title">Paciente</h4>
            <p class="card-text">Nesse local você poderá cadastrar o paciente, editar ver detalhes, buscar paciente por nome.</p>
          </div>
          <div class="card-footer">
            <a routerLink="/paciente" class="btn btn-primary">Acessar</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="./assets/produtividade.jpg" height="164px" width="253px" alt="">
          <div class="card-body">
            <h4 class="card-title">Cuidador</h4>
            <p class="card-text">Nesse local você poderá cadastrar o cuidador, editar ver detalhes, buscar cuidador por nome.</p>
          </div>
          <div class="card-footer">
            <a routerLink="/cuidador" class="btn btn-primary">Acessar</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="./assets/performance.jpg" height="164px" width="253px" alt="">
          <div class="card-body">
            <h4 class="card-title">Mapa</h4>
            <p class="card-text">Nesse local você poderá ver o mapa e imprimir e ver as devidas descrição do paciente e cuidador alocado e horários.</p>
          </div>
          <div class="card-footer">
            <a routerLink="/mapa" class="btn btn-primary">Acessar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- Fim Content -->  