<div class="container">
  <div class="container-fluid pt-4 px-4">
    <div class="row g-4">
      <div class="col-sm-12 col-xl-12">
        <div class="bg-light rounded h-100 p-4">
          <h4 class="mb-3">Detalhe do Cuidador</h4>
          <form class="row g-3 needs-validation" [formGroup]="cadastroForm" novalidate >
            <div class="col-md-10">
              <label for="nomeCuidador" class="form-label">Nome do Cuidador</label>
              <input type="text" class="form-control" id="nomeCuidador" formControlName="nomeCuidador"/>
            </div>
            <div class="col-md-2">
              <label for="categoria" class="form-label">Categoria</label>
              <select class="form-select"  id="categoriaId" formControlName="categoriaId"  >
                <option value="">Selecione</option>
                <option value="1">AV</option>
                <option value="2">MI</option>
                <option value="3">MO</option>
              </select>             
            </div>
            <div class="table-responsive">
              <table class="table text-start align-middle table-bordered table-hover mb-0"  >
                <thead>
                  <tr class="text-dark">
                    <th scope="col">Tipo Telefone</th>
                    <th scope="col">Numero Telefone</th>
                  </tr>
                </thead>
                <tbody *ngIf="listaTelefone.length > 0">
                  <tr *ngFor="let telefone of listaTelefone">
                    <th scope="row">{{ telefone.descricaoTipoTelefone }}</th>
                    <td>
                      <span>{{ telefone.numeroTelefone | phone }}</span>
                    </td>
                  </tr>
                </tbody>
                <tbody *ngIf="listaTelefone.length === 0">
                  <tr>
                    <th scope="row" colspan="3">Nenhum telefone cadastrado</th>
                  </tr>
                </tbody>
              </table>
            </div>
             <div class="col-12">
              <button class="btn btn-primary" (click)="voltar()">
              Voltar
            </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
