<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  <div class="container">
    <a class="navbar-brand no-print" href="#">
      <img 
        src="./assets/logo-cuidadosos.svg"
        alt="..."
        height="36"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul *ngIf="user$ | async as Usuario, else login" class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active"    routerLink="paciente">Paciente</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="cuidador" >Cuidador</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="mapa">Mapa</a>
        </li>
      </ul>
     <diV *ngIf="user$ | async as Usuario, else login">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item dropdown">
            <a  class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" >
            {{nomeUsuar}}
            </a>
            <ul class="dropdown-menu">
              <div *ngIf="descricaoPerfil == 'Adminstrador'">
                <li><a class="dropdown-item" routerLinkActive="active" routerLink="usuario">Lista Usuarios</a></li>
              </div>
               
              <li><a class="dropdown-item" (click)="desclogar()" href="#">Sair</a></li>
            </ul>
          </li>
        </ul>
      </diV>
      <ng-template #login>
        <!-- <ul class="navbar-nav ms-auto">
          <li class="nav-item dropdown">
            <a  class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" >
            Logar
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Perfil</a></li>
              <li><a class="dropdown-item" (click)="desclogar()" href="#">Entrar</a></li>
            </ul>
          </li>
        </ul> -->
      </ng-template>  
     
    </div>
  </div>
</nav>
