<div class="container">
  <div class="container-fluid pt-4 px-4">
     <div class="bg-light text-center rounded p-4">        
        <form   [formGroup]="pacienteForm"  novalidate>
         <div class="d-flex align-items-center justify-content-between mb-4">         
            <h5 class="me-auto p-2">Paciente</h5>
            <div class="p-2 flex-grow-1">
             &nbsp;&nbsp;
           </div>
           <div class="p-2">
             &nbsp;&nbsp;
           </div>
           <div class="p-2">
             &nbsp;&nbsp;
           </div>
            <div class="p-2">             
                <select class="form-select" id="filtro" formControlName="filtro">
                   <option value="0">Todos</option>
                   <option value="1">Nome que comece com</option>
                   <option value="2">Nome que contenha</option>                 
                </select>               
             </div>
            <div class="p-2 flex-grow-1">
             <input type="text" class="form-control" placeholder="O que você procura" id="filtroNome" formControlName="filtroNome"   />
            </div>
            <div class="p-2">
                <button type="button" class="btn btn-primary" (click)="pesquisarPaciente()">
                Buscar
                </button>
             </div>
            <div class="p-2">
             <button type="button" class="btn btn-primary" (click)="cadastrarPaciente()">
             Cadastrar</button>
            </div>
         </div> 
       </form> 
        <div class="table-responsive">
           <table
              class="table text-start align-middle table-bordered table-hover mb-0"
              >
              <thead>
                 <tr class="text-dark">
                    <!-- <th scope="col">#</th> -->
                    <th scope="col">Nome</th>
                    <th scope="col">Telefone</th>
                    <th scope="col">Opções</th>
                 </tr>
              </thead>
              <tbody>
                 <tr *ngFor="let paciente of pacientes">
                    <!-- <th scope="row">{{ paciente.pacienteId }}</th> -->
                    <td>{{ paciente.nomePaciente }}</td>
                    <td>
                       <span *ngFor="let a of paciente.telefonesPaciente">
                        <span>{{ a.numeroTelefone | phone }}</span>
                      </span>
                    </td>
                    <td class="justify-content-center d-flex gap-2">
                       <button class="btn btn-sm btn-primary rounded-pill px-3" href="" (click)="detalhePaciente(paciente)">
                        Detalhe
                       </button>
                       <button  (click)="editarPaciente(paciente)" class="btn btn-sm btn-warning rounded-pill px-3" href="">
                        Editar
                       </button>
                       <button class="btn btn-sm btn-danger rounded-pill px-3" href="" (click)="pacienteExcluir(paciente)">
                        Excluir
                       </button>
                    </td>
                 </tr>
              </tbody>
           </table>
        </div>
     </div>
  </div>
</div>